.editForm {
  display: flex;
  justify-content: center;
  width: 100%;
}

.editForm_group {
  width: 80%;
}

.editForm_group>form {
  justify-content: space-between;
  display: flex;
}

input[type=text],
select {
  /* width: 100%; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.button_Save {
  background-color: #4CAF50;
}
.button_Create {
  background-color: #4371f0;
}
.button_Delete {
  background-color: rgb(206, 41, 41);
}

.button_Search {
  background-color: rgb(35 114 131);;
}

#disabled {
  background-color: #ccc;
  cursor: auto;
}